html,body{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex1 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  flex: 1;
}
.flex2 {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
  flex: 2;
}
.flex3 {
  -webkit-flex: 3;
  -webkit-box-flex: 3;
  box-flex: 3;
  flex: 3;
}
.flex4 {
  -webkit-flex: 4;
  -webkit-box-flex: 4;
  box-flex: 4;
  flex: 4;
}
.flex-center {
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
}
.flex-column-nowrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}

.box-sizing {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: block;
}

.text-elli {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
  clear: both;
}
.clearfix:after {
  display: block;
  height: 0;
  overflow: hidden;
  content: " ";
  visibility: hidden;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hidden {
  display: none;
}
.block {
  display: block;
  width: 100%;
  height: 100%;
}
.showblock {
  display: block !important;
}
.blockline {
  display: inline-block;
}
.a-block {
  display: block;
  width: 100%;
  height: 100%;
}
.center-block {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.swipe {
    height: 100%;
	visibility: hidden;
	overflow: hidden;
	position: relative;
}

.swipe-wrap {
    height: 100%;
	position: relative;
	overflow: hidden;
}

.swipe-wrap>div {
    width: 100%;
    height: 100%;
	float: left;
	position: relative;
}

.swipe-wrap img {
    width: 100%;
    height: 100%;
}
.dwr {
  position: relative;
}
.dwa {
  position: absolute;
}
.fix{
  position: fixed;
}

.fontcenter {
  text-align: center;
}
.fontleft{
  text-align: left;
}
.font-right{
  text-align: right;
}
.colorwhite {
  color: #fff;
}
.bgwhite {
  background-color: #fff;
}
.tcenter{
	text-align: center;
}
.tright{
	text-align: right;
}
/*主要颜色*/
.color-main{
  color:#4D66FF;
}
.bg-main{
  background-color: #4D66FF;
}
.color-price {
  color: #F44C4C;
}
